@import "styles/variables.module.scss";

.input {
    color: $GreyColor;
    background: $White;
    border: 1px solid $GreyColor;
    border-radius: 4px;
    font-size: 12px;
    padding: 12px 8px;
    display: flex;
    align-items: center;

    &__searchIcon {
        line-height: 100%;
        margin-right: 8px;
    }

    &__field {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: $DarkGreyColor;

        &::placeholder {
            color: $GreyColor;
        }
    }

    &-disabled {
        background-color: $BackgroundColor;
    }

}