@import "@styles/variables.module.scss";

.InfoHeader {

    &__row {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__categoryRow {
        color: $DarkGreyColor;
        margin: 24px 0 14px;
        border-bottom: 1px solid $GreyColor;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__category {
        margin: 0 14px -1px 14px;

        &-active {
            color: $BlueColor;
            border-bottom: 3px solid $BlueColor;
        }
    }


    &__header20 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    &__header12 {
        font-size: 18px;
    }

    &__header12 {
        font-size: 12px;
        color: $DarkGreyColor;
    }

    &__green {
        color: $GreenColor;
    }

    &__red {
        color: $RedColor;
    }

}

.row {
    &100 {
        height: 100px;
    }

}