$DarkGreyColor: #6C757D;
$GreyColor: #DFE2E4;
$BlueColor: #0063F5;
$BackgroundColor: #F8F9FA;
$GreenColor: #21BF73;
$RedColor: #D90429;
$ShadowColor: rgba(0, 0, 0, 0.075);
$Black: #000000;
$White: #FFFFFF;

@font-face {
    font-family: 'CircularStd';
    src: local('CircularStd'), url('../styles/CircularStd-Medium.woff') format('woff');
}