.input {
    color: #DFE2E4;
    background: #FFFFFF;
    border: 1px solid #DFE2E4;
    border-radius: 4px;
    font-size: 12px;
    padding: 12px 8px;
    display: flex;
    align-items: center;
}

.searchIcon {
    line-height: 100%;
    margin-right: 8px;
}

.field {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #6C757D;
}

.field::placeholder {
    color: #DFE2E4;
}

.disabled {
    background-color: #F8F9FA;
}