@import "styles/variables.module.scss";

* {
    font-family: 'CircularStd';
}

body {
    padding: 50px 0;
    background: $BackgroundColor;
    width: 50%;
    min-width: 340px;
    max-width: 500px;
    margin: 0 auto;
    overflow-y: scroll;
}