@import "styles/variables.module.scss";

input[type='checkbox'] {
    display: none;
}

$width: 160px;

.MultiDropdown {
    width: $width;
    font-size: 12px;
    color: $DarkGreyColor;
    position: relative;

    &__checkbox {
        display: none;

        &:checked+label.MultiDropdown__button {
            border-radius: 12px 12px 0 0;
        }

        &:checked+label>.MultiDropdown__corner {
            transform: rotate(0deg);
        }
    }

    &__button {
        display: flex;
        justify-content: space-between;
        padding: 6px 16px 6px 10px;
        border-radius: 12px;
        outline: none;
        background-color: $BackgroundColor;
        border: 0.5px solid $GreyColor;
    }

    &__corner {
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-right: 7px solid $DarkGreyColor;
        border-left: 0px solid transparent;
        transform: rotate(-90deg);
    }

    &__option {
        position: relative;
        display: block;
        padding: 6px 10px;
        background-color: $BackgroundColor;
        border: 0.5px solid $GreyColor;
        margin-top: -1px;
        transition: color 500ms ease;

        &-chacked {
            color: $BlueColor;
            text-decoration: underline;
        }
        &:hover{
            color: $BlueColor;
        }
    }

    &__optionBlock:last-child>.MultiDropdown__option {
        border-radius: 0 0 12px 12px;
    }

    &__optionBlock {
        position: absolute;
        width: $width;
    }

    &__list {
        position: relative;
    }
}