@import "../../../variables.module.scss";

input[type='checkbox'] {
    display: none;
}

.MultiDropdown {
    width: 200px;
    font-size: 12px;
    color: $DarkGreyColor;
    font-family: Arial, Helvetica, sans-serif;
}


.MultiDropdownButtonChecbox {
    display: none;
}


.MultiDropdownButtonCheckbox:checked+label {
    border-radius: 12px 12px 0 0;
}

.MultiDropdownButton {
    display: flex;
    justify-content: space-between;
    padding: 6px 16px 6px 10px;
    border-radius: 12px;
    outline: none;
    background-color: $BackgroundColor;
    border: 0.5px solid $GreyColor;
}

.MultiDropdownButtonCheckbox:checked+label>.MultiDropdownButtonCorner {
    transform: rotate(0deg);
}

.MultiDropdownButtonCorner {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right: 7px solid $DarkGreyColor;
    border-left: 0px solid transparent;
    transform: rotate(-90deg);
}

.option {
    padding: 6px 10px;
    background-color: $BackgroundColor;
    border: 0.5px solid $GreyColor;
    margin-top: -1px;
}

.optionChacked {
    color: $BlueColor;
    text-decoration: underline;
}

.option:last-of-type {
    border-radius: 0 0 12px 12px;
}